{% extends 'cabezal_administrador.html' %}
{% load static %}
{% block titulo_pagina %}
    <title>Añadir Nueva Entrada Turística</title>
{% endblock %}
{% block css_archivos %}
    <style>
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        main {
            max-width: 900px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }


        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        input[type="text"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        textarea {
            resize: vertical;
            height: auto;
        }

        .full-width {
            grid-column: span 2;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            grid-column: span 2;
            margin-top: 20px;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}
{% block contenido_nav_bar %}
    <li><a href="{% url 'paginaActividades' %}">Panel General</a></li>
{% endblock %}
{% block contenido_pagina %}
    <main>
        <br>
        <h1>Generar un nuevo registro de nacionalidad</h1>
        <br>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="full-width">
                {{ form.catXturNombre.label_tag }}
                {{ form.catXturNombre }}
            </div>
            <br>
            <div>
                {{ form.turTitulo_1.label_tag }}
                {{ form.turTitulo_1 }}
            </div>
            <br>
            <div>
                {{ form.turDescripcion_1.label_tag }}
                {{ form.turDescripcion_1 }}
            </div>
            <br>
            <div>
                {{ form.turURLImagen_1.label_tag }}
                {{ form.turURLImagen_1 }}
            </div>
            <br>
            <div>
                {{ form.turTitulo_2.label_tag }}
                {{ form.turTitulo_2 }}
            </div>
            <br>
            <div>
                {{ form.turDescripcion_2.label_tag }}
                {{ form.turDescripcion_2 }}
            </div>
            <br>
            <div>
                {{ form.turURLImagen_2.label_tag }}
                {{ form.turURLImagen_2 }}
            </div>
            <br>
            <div>
                {{ form.turTitulo_3.label_tag }}
                {{ form.turTitulo_3 }}
            </div>
            <br>
            <div>
                {{ form.turDescripcion_3.label_tag }}
                {{ form.turDescripcion_3 }}
            </div>
            <br>
            <div>
                {{ form.turURLImagen_3.label_tag }}
                {{ form.turURLImagen_3 }}
            </div>
            <br>
            <button type="submit">Crear Entrada Turística</button>
        </form>
    </main>

{% endblock %}