{% extends 'cabezal.html' %}
{% load static %}
{% block titulo_pagina %}
    <title>{{ nacionalidad.nacTitulo_1 }}</title>

{% endblock %}
{% block sobreescribir_css_archivos %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 20px;
        }

        header {
            background-color: #4CAF50;
            color: white;
            padding: 15px;
            text-align: center;
            margin-bottom: 20px;
        }

        .content {
            background-color: white;
            padding: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            max-width: 800px;
            margin: 0 auto;
        }

        h1 {
            font-size: 32px;
            margin-bottom: 10px;
        }

        .category {
            font-size: 18px;
            color: #4CAF50;
            margin-bottom: 20px;
        }

        img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 8px;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .creation-date {
            font-size: 14px;
            color: #999;
            text-align: right;
            margin-top: 40px;
            border-top: 1px solid #ddd;
            padding-top: 10px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'webapp/css/estilo.css' %}">

{% endblock %}
{% block contenido_pagina %}
    <main class="content">
        <h1>{{ nacionalidad.nacTitulo_1 }}</h1>
        <p class="category">{{ nacionalidad.catXnacNombre }}</p>
        <img src="{{ nacionalidad.nacURLImagen_1 }}" alt="{{ nacionalidad.nacTitulo_1 }}">
        <p>{{ nacionalidad.nacDescripcion_1 }}</p>

        <h2>{{ nacionalidad.nacTitulo_2 }}</h2>
        <img src="{{ nacionalidad.nacURLImagen_2 }}" alt="{{ nacionalidad.nacTitulo_2 }}">
        <p>{{ nacionalidad.nacDescripcion_2 }}</p>

        <h2>{{ nacionalidad.nacTitulo_3 }}</h2>
        <img src="{{ nacionalidad.nacURLImagen_3 }}" alt="{{ nacionalidad.nacTitulo_3 }}">
        <p>{{ nacionalidad.nacDescripcion_3 }}</p>

        <div class="creation-date">
            Publicado el: {{ nacionalidad.nacFechaCreacion|date:"d M Y" }}
        </div>
    </main>
{% endblock %}
