/* Estilos para las cards */
.card {
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h3 {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

.card-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.btn-ver-mas {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f8c02d;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-ver-mas:hover {
    background-color: #e6b027;
}

.card:hover {
    transform: translateY(-5px);
}
