{% block etiqueta_estatica %}
    {% load static %}
{% endblock %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo_pagina %}
    {% endblock %}
    {% block sobreescribir_css_archivos %}
        <link rel="stylesheet" href="{% static 'webapp/css/estilos_generales.css' %}">
        {% block css_archivos %}
        {% endblock %}
    {% endblock %}
    {% block sobreescribir_jvscript_archivos %}
        {% block jvscript_archivos %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block sobreescribir_contenido_pagina %}
    <header>
        <!-- Usa la URL externa directamente si no es un archivo estático dentro de tu proyecto -->
        <img src="https://i.postimg.cc/x12Yd10N/Yasuni.png" alt="Logo" style="width: 40px; height: 40px;">
        <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i>☰</button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i>✖</button>
            <ul class="nav-list">
                {% block contenido_nav_bar %}
                {% endblock %}
                <li><a href="{% url 'paginaActividades' %}">Documentacion</a></li>
                <li><a href="{% url 'logout' %}">Cerrar Sesion</a></li>

            </ul>
        </nav>
    </header>
    {% block contenido_pagina %}
    {% endblock %}
{% endblock sobreescribir_contenido_pagina %}
{% block sobreescribir_jvscript_archivos_defer %}
    <script>
        document.getElementById("abrir").addEventListener("click", function () {
            document.getElementById("nav").classList.add("visible");
        });

        document.getElementById("cerrar").addEventListener("click", function () {
            document.getElementById("nav").classList.remove("visible");
        });
    </script>
    {% block jvscript_archivos_defer %}
    {% endblock %}
{% endblock %}
{% block sobreescribir_css_archivos_defer %}
{% endblock %}
</body>
</html>
